/*-----------------------*/
/*- Google Font Styling -*/
/*-----------------------*/
h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
    }
h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
p,tr,th,td {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
/*----------------------------*/
/*- Google Font Styling Ends -*/
/*----------------------------*/
body	{
		background-image: url("../img/deep-space.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		color: #ffffff;
}
h1		{
		text-align: center;
}	
table {
    width: 90%;
		heigth: auto;
		margin-top: 75px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td	{
		text-align: center;
}
.left-align {
		text-align: left;
}